@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nunito:wght@400;600&display=swap');

.hidden {
    display: none;
}

.show {
    display: flex;
}

.text-card {
    background: #0008;
    position: fixed;
    top: -6%;
    left: -6%;

    width: 111.5%;
    height: 111.5%;

    justify-content: center;
    align-items: center;
}

.text-area-container {
    display: flex;
    flex-direction: column;
}

.add-text {
    height: 100px;
    padding: 10px;
    margin: 30px;

    border-radius: 8px;
    box-shadow: 10px 10px 39px -23px #000;

    text-align: left;
    font-size: 18px;
}

.add-text:focus {
    outline: none;
}

.add-text::-webkit-scrollbar {
    width: 1px;
}


.apply-text {
    background: #FFF;
    color: midnightblue;
    
    width: 50px;
    padding: 10px 5px;
    margin: 0 0 0 68%;
    
    border: 2px solid midnightblue;
    border-radius: 5px;
    
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;

    transition: .3s;
}

.apply-text:hover {
    color: #fff;
    background-color: midnightblue;
}
